a { color: inherit; } 

.header {
  position:absolute;
  padding: 12px;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #808dcd;
}

.hamburger {
  display: none;
}
.menu-list ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
}
.menu-list ul li {
  margin: 10px;
  display: flex;
  list-style-type: none;
  height: 40px;
  align-items: center;
  cursor: pointer;
  
}

@media only screen and (max-width: 786px) {
  .header {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    height: 35px;
    z-index: 10;
  }
  .headertop {
    padding: 5px 0px 10px 10px;
  }
  .header-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    background-color: #808dcd;
    z-index: 10;
    overflow: hidden;
    border-bottom: 1px solid #464646;
    border-radius: 0 0 10px 10px;
  }

  .header-active .menu-list ul {
    visibility: visible;
    height: auto;
    max-height: fit-content;
    opacity: 1;
  }
  .menu-list {
    overflow: hidden; 
  }
  .menu-list ul {
    position: relative;
    visibility: hidden;
    margin: 0px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 0px;
    overflow: hidden; 
  }
  
  .menu-list ul li {
    margin: 0px;
    border-top:1px solid #464646;
    list-style-type: none;
    text-decoration: none;
    padding: 7px 0 7px 0;
  }
 

  .menu-item {
    background-color: #808dcd;
  }

  .menu-item:hover {
    background-color: #353b57;
    color: azure;
  }
  .menu-item:active {
    background-color: #b3bef5;
    color: #353b57;
  }

  .hamburger{
    display: block;
    float: left;
    padding: 25px, 25px;
    z-index: 10;
  }
  .hamburger:hover{
    cursor: pointer;
  }

  .hamburger .line{
    width: 30px;
    height: 5px;
    background-color: #f3f3f3;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

#hamburger-menu{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-menu-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

#hamburger-menu-active .line:nth-child(1),
#hamburger-menu-active .line:nth-child(2),
#hamburger-menu-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger-menu-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-menu-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

#hamburger-menu-active .line:nth-child(3){
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}